/* Project.css */

/* Slider Container */
.slider-container {
  position: relative;
  overflow: hidden;
}

.slick-slide {
  display: inline-block;
}

/* Slick Slider styles */
.slick-prev, .slick-next {
  width: 40px;
  height: 90px;
  color: white;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  z-index: 1;
}

.slick-prev {
  left: 1px;
}

.slick-next {
  right: 10px;
}

/* Dot navigation */
.slick-dots {
  bottom: -20px;
}

.slick-dots li button:before {
  font-size: 10px;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: white;
}

.project-card-wrapper {
  display: flex;
  justify-content: center;
}

/* Optional: Adjust the width of the slider items */
.slick-slide {
  display: flex;
  justify-content: center;
}

/* Optional: Adjust padding around slider items */
.slick-slide .project-card-wrapper {
  padding: 0 10px;
}
